.mui-icon-search {
	color: #000 !important;
	font-size: 30px !important;
	font-weight: bold !important;
}
.info-icon {
	padding-left: 5px;
	color: #000 !important;
	font-size: 40px !important;
}
.addIcon {
	color: #ffff;
	font-size: 30px !important;
	font-weight: bold !important;
}
.avt {
}
